html, body{
    margin: 0;
    padding: 0;
}
nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 76px;
    background: rgb(15, 159, 179);
}
.LogoSite{
    float: left;
    width: 110px;
}
nav a{
    display: block;
    width: auto;
    height: 56px;
    padding: 4px;
    float: left;
    line-height: 52px;
    color: #fff;
    text-decoration: none;
}